* {
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 10px;
}

#gameBoard_UI {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell {
  height: 17px;
  width: 17px;
  border: 1px dimgrey solid;
}

.cell:hover {
  background-color: grey;
}

.alive {
  background-color: tan;
}

.hidden {
  display: none;
}

.bad {
  color: red;
}

input:not([type]),
input[type="text"] {
  width: 30px;
  text-align: center;
}
