* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0c4de;
}

header {
  text-align: center;
  margin: 10px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: max-content;
  min-height: 80px;
}

.speedBtns {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.speedBtns button {
  margin-bottom: 5px;
}

#githubicon {
  position: absolute;
  top: 20px;
  right: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: azure;
}

#homeIcon {
  position: absolute;
  top: 20px;
  left: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

h1 {
  margin: 10px;
}

p {
  margin: 3px;
}

#invalid {
  margin-top: 10px;
}

#gameCanvas {
  margin: 10px;
  cursor: pointer;
}

#generationDisplay {
  margin: 10px 0 5px 0;
  font-size: 1.1em;
  font-weight: 500;
}

#shortcutsHint {
  margin: 0 0 5px 0;
  font-size: 0.85em;
  color: #555;
}

.hidden {
  display: none;
}

.notShown {
  visibility: hidden;
}

.bad {
  color: red;
}

input:not([type]),
input[type="text"] {
  width: 40px;
  height: 30px;
  text-align: center;
  margin-right: 2px;
  font-size: 1em;
}

button {
  width: 90px;
  height: 35px;
  margin-left: 7px;
  margin-right: 7px;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#enabledLabel {
  width: 100px;
  font-size: small;
}

#enabledInput {
  height: 22px;
  width: 22px;
}

.textInputLabel {
  margin-left: 7px;
  margin-right: -8px;
}
